<div id="homeContainer">
  <div class="whiteBorderGlassBox">
    <div class="homeHeadContainer">
      <div class="row">
        <div class="col-md-auto">
          <div class="avatarFrameonline">
            <img src="assets/img/generic_avatar.png" id="homeAvatarPicture">
          </div>
        </div>
        <div class="col">
          <b>Niko</b>
          <div>
            <span>Online</span>
            <br />
            <span>
              < Escribe un mensaje personal>
            </span>
            <a (click)="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="whiteContainerPadded marto15">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Buscar Amigo" [(ngModel)]="query">
      </div>
      <div class="col-md-auto" (click)="open(content)">
        <img src="assets/img/logo_live_add.png" class="icon">
      </div>
    </div>
    <hr />
    <b *ngIf="friends">Amigos ({{friends.length}} / {{friends.length}})</b>
    <div *ngFor="let user of friends | search: query; let i = index" class="disblo marbo5">
      <span routerLink="/conversation/{{user.uid}}">
        <img src="assets/img/logo_live_online.png" class="icon">
        <b>{{user.nick}}</b> - {{user.subnick || 'No Subnick'}}
        <small>{{user.email}}</small>
      </span>
    </div>
  </div>

</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Tienes una Solicitud</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <b>Ingresa el Email de tu amigo</b>
        <input type="email" class="form-control" placeholder="Email" [(ngModel)]="friendEmail" (keyup.enter)="sendRequest()">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="sendRequest()">Guardar</button>
    </div>
  </ng-template>
    
  <hr>
  
  <pre>{{closeResult}}</pre>